{% extends '@PalomaShop/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts_head %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    {% block header %}
        {% include '@PalomaShop/header/header.html.twig' %}
    {% endblock %}

    <div class="main">
        {% block main %}{% endblock %}
    </div>

    {% block footer %}
        {% include '@PalomaShop/footer/footer.html.twig' %}
    {% endblock %}

{% endblock %}