{% extends '@PalomaShop/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts_head %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    {% block header %}
        {% include '@PalomaShop/header/header.html.twig' %}
    {% endblock %}

    <div class="main">
        {% block main %}{% endblock %}
    </div>

    {% block footer %}
        {% include '@PalomaShop/footer/footer.html.twig' %}
    {% endblock %}

{% endblock %}