{% extends '@PalomaShop/layout.html.twig' %}

{% block main %}

    {% block hero %}
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Paloma Demo Shop
                    </h1>
                    <h2 class="subtitle">
                        Whitelabel front end
                    </h2>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block content %}
        <section class="section">
            <div class="container">
                <div class="content">
                    <h3>Paloma – Digital Commerce Platform</h3>
                    <p>Paloma gibt Ihrer bestehenden Systemlandschaft die notwendige Flexibilität, um Ihre Kunden online
                        perfekt bedienen zu können. Angesichts des sich rasant verändernden Handelsumfelds sollten Sie Ihren
                        Kunden ein konsistentes und überzeugendes Erlebnis bieten – und zwar zu jeder Zeit über jeden
                        Kanal.</p>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block top_seller %}
        <section class="section">
            <div class="container">

                <div class="content">
                    <h3 class="title">Top Seller</h3>
                </div>

                <div class="paloma-product-list">
                    <paloma-product-list :show-head="false" :paging="false" :search="{{ top_sellers_search_json }}"></paloma-product-list>
                </div>

            </div>
        </section>
    {% endblock %}

{% endblock %}
