<div class="creditcards">
    <span class="icon is-large">
        <i class="fab fa-cc-visa fa-3x"></i>
    </span>
        <span class="icon is-large">
        <i class="fab fa-cc-mastercard fa-3x"></i>
    </span>
        <span class="icon is-large">
        <i class="fab fa-cc-amex fa-3x"></i>
    </span>
</div>