{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}

    <section class="section">
        <div class="container">

            <div id="paloma-password-reset">
                <paloma-user-password-reset-confirm
                        token="{{ token }}"
                        :valid="{{ token_valid ? 'true' : 'false' }}"></paloma-user-password-reset-confirm>
            </div>

        </div>
    </section>

{% endblock %}