.cart-mini {
  color: $text;
}

.cart-mini__items-price {
  font-weight: $weight-normal;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .cart-mini__items-price {
    display: none;
  }
}