.cart-mini {
}

.cart-mini > .button {
  color: $text-strong;
  border-color: transparent;
}

.cart-mini > .button:hover {
  background-color: $white-bis;
}

.cart-mini__items-price {
  font-weight: $weight-normal;
  font-size: $size-7;
}

.cart-mini__indicator {
  display: none;
}

@media screen and (max-width: 768px) {

  .cart-mini__indicator {
    display: block;
    background: $primary;
    color: $white;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    font-size: 9px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}