.cart-mini {
}

.cart-mini > .button {
  color: $text-strong;
  border-color: transparent;
}

.cart-mini > .button:hover {
  background-color: $white-bis;
}

.cart-mini__items-price {
  font-weight: $weight-normal;
  font-size: $size-7;
}

@media screen and (max-width: 768px) {
  .cart-mini__items-price {
    display: none;
  }
}