@import "mixins";

.category-nav {

}

.category-nav__item {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  color: $text;
}

.category-nav__burger .category-nav__item {
  padding: 0;
}

.category-nav__burger-label {
  font-size: $size-8;
  float: left;
  display: inline-block;
  line-height: 30px;
}

.category-nav__item--has-children {
}

.category-nav__item--has-children .category-nav__item-link {
  font-weight: bolder;
  color: $text;
  cursor: pointer;
}

.is-active .category-nav__menu-wrapper {
  display: block !important;
}

.is-active .category-nav__dropdown {
  display: block;
}

// mobile
@media screen and (max-width: 768px) {

  .category-nav__menu-wrapper {
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .category-nav__menu {
    z-index: 110;
    background: $white;
    width: 300px;
    max-width: 80vw;
    height: 100%;
  }

  .category-nav__item {
    display: block;
  }
}

// > tablet
@media screen and (min-width: 769px) {

  .category-nav__item:first-of-type {
    padding-left: 0;
  }

  .category-nav__dropdown {
    @include shadow_bottom();
    display: none;
    border-top: 1px solid $grey-lighter;
    position: absolute;
    width: calc(100vw - 15px);
    left: 0;
    top: 151px;
    background: $white-bis;
    z-index: 10;
  }

  .category-nav__item:hover .category-nav__dropdown {
    display: block;
  }

}
