.checkout-header {

}

.checkout-header__logo {
  display: inline-block;
  width: 220px;
  margin: 0 20px 20px 0;
  background: $highlight;
  color: $primary;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
}

.checkout-header__nav {
  margin-bottom: 20px;
}

.checkout-header__content {
  padding-right: 50px;
}

@media screen and (max-width: 768px) {

  .checkout-header__logo {
    margin: 10px auto 20px auto;
    display: block;
  }

  .checkout-header__content {
    padding-right: 10px;
  }
}