.checkout-option {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkout-option__control {
  padding-right: 10px;
  color: $text-light;
}

.checkout-option--active .checkout-option__control {
  color: $text;
}

.checkout-option__info {
  flex: 1;
}

.checkout-option__title {
  font-weight: $weight-medium;
}

.checkout-option__text {
  font-size: $size-7;
  color: $text-light;
  white-space: pre-wrap;
}

.checkout-option__price {
  text-align: right;
}

.checkout-option__free {
  font-weight: $weight-medium;
}

.checkout-option__content {

}

.checkout-option__saved {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}