.checkout-confirm {

}

.checkout-confirm .form--purchase {
  background: $white-bis;
  padding: 30px;
}

.checkout-confirm .form--purchase .field {
  max-width: 500px;
  margin: 0 auto;
}

.checkout-confirm .form--purchase .control {
  text-align: center;
}

.checkout-confirm .checkout__text {
  text-align: center;
}