.checkout-form {
  margin-top: 50px;
}

.checkout-form--address .label {
  font-weight: $weight-light;
  font-size: $size-7;
  color: $text-light;
}

.checkout-form .button {
  min-width: 150px;
}

.checkout-form .columns {
  margin-bottom: 0;
}

.checkout-form .column {
  margin-bottom: 0;
  padding-bottom: 0;
}

.checkout-form__field.field {
  margin-bottom: 1.5rem;
}

.checkout-form__field--invalid {

}

.checkout-form__field .help.is-danger {
  display: none;
}

.checkout-form__field--invalid .help.is-danger {
  display: block;
}

.checkout-form__buttons {
  margin-top: 20px;
}

.checkout-form--delivery .checkout-form__buttons {
  margin-top: 50px;
}

.checkout-form__error {
  color: $red;
  border: 1px solid $red;
  padding: 10px;
  margin-bottom: 50px;
}