.checkout-nav {
  display: flex;
  justify-content: space-between;
}

.checkout-nav__item {
  flex: 1;
  position: relative;
  text-align: center;
}

.checkout-nav__item:first-of-type {
  margin-left: -7%;
}

.checkout-nav__item--disabled {
  cursor: default;
}

.checkout-nav__item:after {
  content: ' ';
  position: absolute;
  width: 30%;
  right: -15%;
  top: 13px;
  height: 2px;
  background: $grey-lighter;
}

.checkout-nav__item:last-of-type:after {
  display: none;
}

.checkout-nav__item--complete:after {
  background: lighten($primary, 20);
}

.checkout-nav__item-number {
  display: block;
  text-align: center;
  font-size: $size-8;
  font-weight: $weight-bold;
  color: $grey-light;
  border: 2px solid $grey-light;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 25px;
  margin: 0 auto;
}

.checkout-nav__item--active .checkout-nav__item-number {
  background: $primary;
  border-color: $primary;
  color: $white;
}

.checkout-nav__item--complete .checkout-nav__item-number {
  color: $primary;
  border-color: $primary;
}

.checkout-nav__item-text {
  display: block;
  color: $grey-light;
  font-size: $size-8;
  margin: 0 auto;
}

.checkout-nav__item--active .checkout-nav__item-text,
.checkout-nav__item--complete .checkout-nav__item-text {
  color: $primary;
}

@media screen and (max-width: 768px) {

  .checkout-nav__item {
    padding-right: 0;
  }

  .checkout-nav__item:first-of-type {
    margin-left: 0;
  }

  .checkout-nav__item:after {
    right: -15px;
    width: 20px;
  }

  .checkout-nav__item-text {
    max-width: 20vw;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $size-9;
  }
}

@media (min-width: 1020px) {
  .checkout-nav {
    max-width: 500px;
  }
}