.checkout-order {
}

.checkout-order__header {
  margin-bottom: 30px;
  border-bottom: 1px solid $grey-lighter;
}

.checkout-order__header-total {
  display: none;
}

.checkout-order__header-total .price__amount {
  font-weight: $weight-bold;
}

.checkout-order__header-total .icon {
  color: $text;
}

.checkout-order__title {
  font-size: $size-4;
}

.checkout-order__subtitle {
  font-size: $size-8;
  font-weight: $weight-bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.checkout-order__address {
  padding-bottom: 20px;
  border-bottom: 1px solid $grey-lighter;
  margin-bottom: 20px;
}

.checkout-order__address-same {
  font-size: $size-7;
}

.checkout-order__items {
  border-bottom: 2px solid $grey-lighter;
  margin-bottom: 20px;
}

.checkout-order__adjustment {
  display: flex;
  font-size: $size-7;
  margin-bottom: 5px;
}

.checkout-order__adjustment-title {
  flex-grow: 1;
}

.checkout-order__adjustment-price {
  flex-grow: 1;
  text-align: right;
}

.checkout-order__total {
  display: flex;
  font-size: $size-5;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 2px solid $grey-lighter;
}

.checkout-order__total-title {
  flex-grow: 1;
  text-transform: uppercase;
}

.checkout-order__total-price {
  flex-grow: 1;
  text-align: right;
}

.checkout-order__total-price .price__currency {
  font-size: $size-6;
}

.checkout-order__adjustment--tax {
  font-size: $size-7;
  color: $text-light;
}

@media screen and (max-width: 1019px) {

  .checkout__order--hidden-mobile {
    display: none;
  }

  .checkout-order__header {
    margin-bottom: 0;
    border: 0;
    display: flex;
    cursor: pointer;
  }

  .checkout-order--expanded .checkout-order__header {
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-lighter;
    margin-bottom: 20px;
  }

  .checkout-order__header-total {
    display: inline-block;
  }

  .checkout-order__title {
    font-size: $size-6;
    flex: 1;
  }

  .checkout-order__content {
    display: none;
  }

  .checkout-order--expanded .checkout-order__content {
    display: block;
  }

}