.checkout-confirm {

}

.checkout-confirm .form--purchase {
  background: $white-bis;
  padding: 20px;
}

.checkout-confirm .control {
  text-align: center;
}

.checkout-confirm .checkout__text {
  text-align: center;
}