@media screen and (max-width: 768px) {

  .is-order-1-mobile {
    order: 1;
  }

  .is-order-2-mobile {
    order: 2;
  }

  .is-order-3-mobile {
    order: 3;
  }

  .is-order-4-mobile {
    order: 4;
  }
}