.filter {
  margin: 0 10px 10px 0;
}

.filter__title {
  background: $grey-lighter;
  color: $text-light;
  font-weight: $weight-medium;
}

.filter__menu {
  padding-top: 3px;
}

.filter__menu .dropdown-content {
  padding-bottom: 0;
}

.filter__values {
  max-height: 200px;
  overflow-y: auto;
}

.filter__value {
  display: flex;
  cursor: pointer;
}

.filter__value:hover {
  background: $grey-lighter;
}

.filter__value--active,
.filter__value--active:hover {
  background: $primary;
  color: $white;
}

.filter__label {
  flex: 1;
}

.filter__value:hover .filter__label {
  color: $text-strong;
}

.filter__value--active:hover .filter__label {
  color: $white;
}

.filter__count {
  color: $grey;
  font-size: $size-8;
  text-align: right;
}

.filter__value--active .filter__count,
.filter__value--active:hover .filter__count {
  color: $grey-lighter;
}

.filter__control {
  padding: 10px;
  background: $white-bis;
  border-top: 1px solid $grey-lighter;
  text-align: center;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
