.form--address .label,
.form--customer .label {
  font-weight: $weight-normal;
  font-size: $size-7;
  //color: $text-light;
}

.form .columns {
  margin-bottom: 0;
}

.form .column {
  margin-bottom: 0;
  padding-bottom: 0;
}

.form__field.field {
  margin-bottom: 1.5rem;
}

.form__field--required .label:after {
  content: '*';
  color: $text-light;
  padding-left: 5px;
}

.form__field--invalid {

}

.form__field .help.is-danger {
  display: none;
}

.form__field--invalid .help.is-danger {
  display: block;
}

.form__buttons {
  margin-top: 20px;
}

.form .button {
  min-width: 100px;
}

.form--delivery .form__buttons {
  margin-top: 50px;
}

.form--customer .form__buttons {
  margin-top: 50px;
}

.form__error {
  color: $white;
  border: 1px solid $red;
  padding: 10px 20px;
  margin: 0 -10px 50px -10px;
  background: #cd3c32;
}

.modal-card-body .form__error {
  border: 0;
  padding: 10px 70px;
  margin: 0 -70px 50px -70px;
}

.form__info {
  color: $text-light;
  font-size: $size-7;
}

// mobile
@media screen and (max-width: 768px) {

  //.form {
  //  padding-bottom: 60px; // because of fixed buttons
  //}
  //
  //.form__buttons {
  //  z-index: 20;
  //  margin-top: 0;
  //  position: fixed;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  background: $white-bis;
  //  padding: 30px 10px; // bottom padding should prevent safari menu bar from appearing
  //  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  //  border-top: 1px solid $grey-lighter;
  //}

  .form__buttons.field.is-grouped.is-grouped-right {
    //justify-content: center;
  }

  .form__error {
    padding: 10px;
    font-size: $size-7;
    margin-bottom: 20px;
  }

  .modal-card-body .form__error {
    margin: 0 -10px 50px -10px;
  }
}

// > mobile
@media (min-width: 769px) {

  .form {
  }

  .form .button {
    min-width: 150px;
  }
}