.form {
  margin-top: 50px;
}

.form--address .label,
.form--customer .label {
  font-weight: $weight-normal;
  font-size: $size-7;
  //color: $text-light;
}

.form .button {
  min-width: 150px;
}

.form .columns {
  margin-bottom: 0;
}

.form .column {
  margin-bottom: 0;
  padding-bottom: 0;
}

.form__field.field {
  margin-bottom: 1.5rem;
}

.form__field--required .label:after {
  content: '*';
  color: $text-light;
  padding-left: 5px;
}

.form__field--invalid {

}

.form__field .help.is-danger {
  display: none;
}

.form__field--invalid .help.is-danger {
  display: block;
}

.form__buttons {
  margin-top: 20px;
}

.form--delivery .form__buttons {
  margin-top: 50px;
}

.form--customer .form__buttons {
  margin-top: 50px;
}

.form__error {
  color: $red;
  border: 1px solid $red;
  padding: 10px;
  margin-bottom: 50px;
}

.form__info {
  color: $text-light;
  font-size: $size-7;
}