@import "mixins";

.page-header {
  @include shadow_bottom();
}

.page-header__center {
  display: flex;
}

.page-header__brand-logo {
  flex: 1;
}

.page-header__quick-search {
  margin-top: auto;
  margin-bottom: 20px;
}

.page-header__bottom {
  display: flex;
  margin-bottom: 10px;
}

.page-header__category-nav {
  flex: 1;
}