@import "mixins";

.page-header {
  @include shadow_bottom();
}

.page-header__container {
  position: initial; // full-width category dropdown requires this
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__brand-logo {
  width: 50%;
  order: 1;
}

.page-header__service-nav {
  width: 50%;
  text-align: right;
  order: 2;
}

.page-header__category-nav {
  width: 70%;
  order: 3;
}

.page-header__category-nav .service-nav {
  display: none;
}

.page-header__user-nav {
  width: 30%;
  text-align: right;
  order: 4;
}

@media screen and (max-width: 768px) {

  .page-header__brand-logo {
    width: 100%;
  }

  .page-header__service-nav {
    display: none;
  }

  .page-header__category-nav {
    width: 100px;
  }

  .page-header__user-nav {
    flex-grow: 1;
  }

  .is-scrolled .page-header {
    position: fixed;
    width: 100%;
    top: -45px;
    left: 0;
    background: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    z-index: 30;
  }

  body.is-scrolled {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1087px) {

  .page-header__container {
    padding-left: 10px;
    padding-right: 10px;
  }

}