.price {
  display: inline-block;
}

.price__currency {
  font-size: $size-7;
}

.price__amount {
  font-weight: $weight-medium;
}

.price__original {
  font-size: $size-7;
  text-decoration: line-through;
}