.product-images {
}

.product-images__image {
  cursor: zoom-in;
  width: 100%;
  height: 0;
  padding-bottom: $product-image-ratio;
  overflow: hidden;
}

.product-images__zoom {
  display: none;
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.product-images--zoomed .product-images__zoom {
  display: block;
  cursor: zoom-out;
}

.product-images__zoom .image img {
  max-height: 80vh;
  width: auto;
  margin: 0 auto;
}

.product-images__thumbs {
  margin: 10px 0;
}

.product-images__thumb {
  width: 48px;
  display: inline-block;
  margin: 0 5px 5px 0;
  opacity: 0.8;
}

.product-images__thumb--active {
  border: 1px solid $primary;
  opacity: 1;
}

.product-images__thumb:hover {
  opacity: 1;
}

.product-images--zoomed .product-images__thumbs {
  z-index: 210;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid $grey-lighter;
  background-color: $white;
}

.product-images__zoom-close {
  position: fixed;
  z-index: 210;
  top: 0;
  right: 10px;
}

.product-images__zoom-image {
  padding: $product-zoom-image-padding;
}

@media screen and (max-width: 768px) {

  .product-images__thumbs {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: move;
  }
}