.product-images {
}

.product-images__image {
  padding: $product-image-padding;
  cursor: zoom-in;
}

.product-images__zoom {
  display: none;
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.product-images--zoomed  .product-images__zoom {
  display: block;
  cursor: zoom-out;
}

.product-images__zoom .image {
  margin: 0 auto;
}

.product-images__thumbs {
  margin: 10px 0;
}

.product-images__thumb {
  width: 48px;
  display: inline-block;
  margin: 0 5px 5px 0;
  opacity: 0.8;
}

.product-images__thumb--active {
  border: 1px solid $primary;
  opacity: 1;
}

.product-images__thumb:hover {
  opacity: 1;
}

.product-images--zoomed .product-images__thumbs {
  z-index: 210;
  position: fixed;
  bottom: 50px;
}