.product-specs {
  margin-bottom: 50px;
}

.product-specs__item {
  display: flex;
  margin-bottom: 15px;
}

.product-specs__name {
  width: 33%;
  font-size: $size-8;
  font-weight: $weight-medium;
}

.product-specs__value {
  width: 67%;
  font-size: $size-8;
}

@media screen and (max-width: 768px) {

  .product-specs__item {
    display: block;
  }

  .product-specs__name {
    width: 100%;
  }

  .product-specs__value {
    width: 100%;
    font-size: 1rem;
  }
}