.product-recommendations {

}

.product-recommendations__title {
  margin-bottom: 30px;
  color: $text-strong;
}

@media screen and (max-width: 768px) {
  .product-recommendations {
    padding: 1.5rem;
  }
}