.product-list {

}

.product-list__head {
  display: flex;
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.product-list__title {
  flex: 1;
  font-size: 1.1rem;
  font-weight: $weight-medium;
  color: $grey-darker;
}

.product-list__sort {
  flex: 1;
  text-align: right;
  font-size: $size-7;
}

.product-list__filters {
  margin-top: 10px;
  margin-bottom: 50px;
}
