.service-nav {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.service-nav__pages {
  font-size: $size-8;
}

.service-nav__page {
  color: $grey;
  display: inline-block;
  margin-left: 20px;
}

.service-nav__locales {
  margin-left: 70px;
  font-size: $size-7;
}