.service-nav {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.service-nav__pages {
  font-size: $size-8;
}

.service-nav__page {
  color: $grey;
  display: inline-block;
  margin-left: 20px;
}

.service-nav__locales {
  margin-left: 70px;
  font-size: $size-7;
}

@media screen and (max-width: 768px) {

  .category-nav.is-active .service-nav {
    display: block;
  }

  .category-nav .service-nav__page {
    margin-left: 15px;
    padding-bottom: 10px;
  }

  .category-nav .service-nav__locales {
    margin-left: 10px;
    padding-bottom: 10px;
  }

  .service-nav {
    justify-content: normal;
  }

  .service-nav__page {
    display: block;
  }

  .service-nav__locales {
    margin-left: 0;
  }

}