.sitemap {
  padding: 30px 0;
}

.sitemap__section {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

.sitemap__section-link {
  display: block;
  margin-bottom: 10px;
  color: $text;
  font-weight: $weight-medium;
}

.sitemap__nav {
  margin-bottom: 50px;
}

.sitemap__nav-item {
  display: block;
  font-size: $size-7;
  color: $text-light;
  line-height: 1.6;
}

.sitemap__nav-item--show-products {
  display: none;
}

@media screen and (max-width: 768px) {

  .sitemap {
    padding: 20px 0 0 0;
  }

  .sitemap__nav {
    margin-bottom: 30px;
  }

  .sitemap__section {
    display: block;
  }

  .sitemap__nav {
    display: none;
  }

  .sitemap__section--active .sitemap__nav {
    display: block;
  }

  .sitemap__nav-item--show-products {
    display: block;
    text-decoration: underline;
    font-size: $size-8;
    margin-bottom: 5px;
  }
}

// > mobile < desktop
@media screen and (min-width: 769px) and (max-width: 1087px)  {
  .sitemap {
    padding-left: 10px;
    padding-right: 10px;
  }
}