.user-login {
  width: 100vw;
  max-width: 500px;
  margin: auto;
}

.user-login .content {
  text-align: center;
}

.user-login .modal-card-head {
  background: white;
  border-bottom: 0;
}

.user-login .modal-card-title {
  text-align: center;
}

.user-login .modal-card-body {
  padding: 20px 70px 50px 70px;
}

.user-login .modal-card-body .user-login__info {
  text-align: center;
}

.user-login__info {
  margin-bottom: 40px;
  color: $text-light;
  font-size: $size-7;
}

.user-login .modal-card-foot {
  justify-content: center;
}

.user-login__password-reset {
  color: $text-light;
}

@media screen and (max-width: 768px) {

  .user-login.modal-card {
    max-height: none;
    height: 100vh;
  }

  .user-login .modal-card-body {
    padding: 10px;
  }
}