.user-nav {
  height: 36px; // fixed height to prevent jumping on load
  display: flex;
  justify-content: flex-end;
}

.user-nav__item {
  display: inline-block;
}

.user-nav__item--account > .button {
  color: $text-strong;
}
