{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}

    <div class="container">

        <div id="paloma-account">
            <paloma-account></paloma-account>
        </div>

    </div>

    {% block content %}
        <div class="is-hidden" id="content--account-overview">
            {% include '@PalomaShop/content/customer_account_overview.html.twig' %}
        </div>
        <div class="is-hidden" id="content--account-email">
            {% include '@PalomaShop/content/customer_account_email.html.twig' %}
        </div>
        <div class="is-hidden" id="content--account-password">
            {% include '@PalomaShop/content/customer_account_password.html.twig' %}
        </div>
    {% endblock %}

{% endblock %}
