{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}

    <section class="section">
        <div class="container">

            <div id="paloma-account">
                <paloma-account></paloma-account>
            </div>

        </div>
    </section>

{% endblock %}
