{% extends '@PalomaShop/layout.html.twig' %}

{% block title %}{{ ('error.pages.' ~ status_code ~ '.title') | trans }} &ndash; {{ parent() }}{% endblock %}

{% block main %}

    <section class="section">
        <div class="container">

            {% block error_content %}
            <div class="content">

                {% block error_header %}
                <header>
                    <h1>{{ ('error.pages.' ~ status_code ~ '.title') | trans }}</h1>
                </header>
                {% endblock %}

                {% block error_message %}
                    <div>
                        {{ ('error.pages.' ~ status_code ~ '.message') | trans }}
                    </div>
                {% endblock %}

            </div>
            {% endblock %}
        </div>
    </section>

{% endblock %}