{% if product.description %}
    <div class="product-content">

        <h3 class="product-content__title">{{ 'catalog.products.description' | trans }}</h3>

        <div class="product-content__body">
            {{ product.description | raw }}
        </div>

    </div>
{% endif %}