
<div class="paloma-product-list">
    <paloma-product-list
            :search="{{ search_json }}"
            {% if category_json is defined %}:category="{{ category_json }}"{% endif %}></paloma-product-list>
</div>