
<script>
    var PALOMA = PALOMA || {};
    PALOMA.search = {{ search_json|raw }};
    PALOMA.category = {{ category_json|raw }};
</script>

<div id="paloma-product-list">
    <paloma-product-list></paloma-product-list>
</div>