<footer class="page-footer page-footer--checkout">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="{{ path('paloma_catalog_home') }}">
                    <span class="icon">
                        <i class="fal fa-arrow-left"></i>
                    </span>
                    {{ 'checkout.abort' | trans }}
                </a>
            </div>
        </div>
    </div>
</footer>