<nav class="category-nav">
    <div class="category-nav__item category-nav__item--has-children">
        <a href="">
            Category A
            <span class="icon">
                <i class="fas fa-angle-down"></i>
            </span>
        </a>
{#        <div class="category-nav__dropdown">#}
{#            todo#}
{#        </div>#}
    </div>
    <a class="category-nav__item">Category B</a>
    <a class="category-nav__item">Category C</a>
    <a class="category-nav__item">Category D</a>
</nav>