{% if main_categories is defined %}
    <nav class="category-nav">
        {% for cat in main_categories %}
            {% if cat.subcategories and cat.subCategories|length > 0 %}
            <div class="category-nav__item category-nav__item--has-children">
                <a href="{{ path('paloma_catalog_category', {categoryCode: cat.code, categorySlug: cat.slug}) }}">
                    {{ cat.name }}
                    <span class="icon">
                        <i class="fas fa-angle-down"></i>
                    </span>
                </a>
                {#        <div class="category-nav__dropdown">#}
                {#            todo#}
                {#        </div>#}
            </div>
            {% else %}
                <a href="{{ path('paloma_catalog_category') }}" class="category-nav__item">
                    {{ cat.name }}
                </a>
            {% endif %}
        {% endfor %}
    </nav>

{% endif %}