<header class="page-header">

    <div class="container page-header__container">

        <div class="page-header__brand-logo">
            {% block brand_logo %}
                {% include '@PalomaShop/header/brand_logo.html.twig' %}
            {% endblock %}
        </div>

        <div class="page-header__service-nav">
            {% block service_nav %}
                {# hidden on mobile per default #}
                {% include '@PalomaShop/header/service_nav.html.twig' %}
            {% endblock %}
        </div>

        <div class="page-header__category-nav">
            {% block category_nav %}
                {% include '@PalomaShop/header/category_nav.html.twig' %}
            {% endblock %}
        </div>

        <div class="page-header__user-nav">
            {% block user_nav %}
                {% include '@PalomaShop/header/user_nav.html.twig' %}
            {% endblock %}
        </div>

    </div>

</header>