<form action="{{ path('paloma_catalog_search') }}" class="quick-search" autocomplete="off">
    <div class="field has-addons">
        <div class="control">
            <input class="input is-small" type="search" name="query"
                   value=""
                   placeholder="{{ 'search.placeholder' | trans }}">
        </div>
        <div class="control">
            <button type="submit" class="button is-small">
                <span class="icon is-small">
                    <i class="far fa-search"></i>
                </span>
            </button>
        </div>
    </div>
</form>