<form action="{{ path('paloma_catalog_search') }}" class="quick-search" autocomplete="off">
    <input class="quick-search__input" type="search" name="query" placeholder="{{ 'search.placeholder' | trans }}">
    <button class="quick-search__button" type="submit">
        <span class="icon">
            <span class="fas fa-search"></span>
        </span>
    </button>
</form>