<div class="service-nav">

    <nav class="service-nav__pages">
        <a href="#" class="service-nav__page">Kontakt</a>
        <a href="#" class="service-nav__page">Impressum</a>
        <a href="#" class="service-nav__page">AGB</a>
    </nav>

    <nav class="service-nav__locales locales">
        {# TODO show drop down if there are lots of locales #}
        {% for locale in paloma.locales %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}"
               class="locales__item{% if locale == app.request.locale %} locales__item--active{% endif %}">
                {{ ('locale.' ~ locale) | trans }}
            </a>
        {% endfor %}
    </nav>
</div>