{# Note:
  This template is rendered twice by default
  (included in header/page_header.html.twig and haeder/category_nav.html.twig)
 #}
<div class="service-nav">

    {% block nav_pages %}
{#    <nav class="service-nav__pages">#}
{#        <a href="#" class="service-nav__page">Kontakt</a>#}
{#        <a href="#" class="service-nav__page">Impressum</a>#}
{#        <a href="#" class="service-nav__page">AGB</a>#}
{#    </nav>#}
    {% endblock %}

    {% block channels %}
        {% include '@PalomaShop/header/channels_nav.html.twig' %}
    {% endblock %}

    {% block locales %}
        {% include '@PalomaShop/header/locales_nav.html.twig' %}
    {% endblock %}
</div>