<nav class="level user-nav">
    <a class="level-item user-nav__item user-nav__item--cart">
        <span class="icon">
            <span class="fas fa-shopping-cart"></span>
        </span>
        Warenkorb
    </a>
    <a class="level-item user-nav__item user-nav__item--account">
        <span class="icon">
            <span class="fas fa-user"></span>
        </span>
        Anmelden
    </a>
</nav>