<nav class="user-nav">
    <div class="user-nav__item user-nav__item--cart" id="paloma-cart">
        <paloma-cart units-count="{{ cart.unitsCount }}" items-price="{{ cart.itemsPrice }}"></paloma-cart>
    </div>
    <div class="user-nav__item user-nav__item--account">
        <a class="button">
            <span class="icon is-small">
                <i class="fal fa-user"></i>
            </span>
            <span class="is-hidden-mobile">{{ 'customer.sign_in' | trans }}</span>
        </a>
    </div>
</nav>