<nav class="level user-nav">
    <a class="level-item user-nav__item user-nav__item--cart">
        <span class="icon">
            <span class="fas fa-shopping-cart"></span>
        </span>
        <span class="is-hidden-mobile">
            {{ 'cart.title' | trans }}
        </span>
    </a>
    <a class="level-item user-nav__item user-nav__item--account">
        <span class="icon">
            <span class="fas fa-user"></span>
        </span>
        {{ 'customer.sign_in' | trans }}
    </a>
</nav>