<nav class="user-nav">

    {% if cart is defined %}
        <div class="user-nav__item user-nav__item--cart" id="paloma-cart">
            <paloma-cart units-count="{{ cart.unitsCount }}" items-price="{{ cart.itemsPrice }}"></paloma-cart>
        </div>
    {% endif %}

    <script>
        var PALOMA = PALOMA || {};
        PALOMA.user = {{ paloma.userJson|raw }};
    </script>
    <div class="user-nav__item user-nav__item--account" id="paloma-user">
        <paloma-user></paloma-user>
    </div>
</nav>