
<nav class="product-summary__breadcrumb breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        {% for cat in category.ancestors %}
            <li>
                <a href="{{ category_path(cat) }}">
                    {{ cat.name }}
                </a>
            </li>
        {% endfor %}
        {% if include_self is not defined or include_self %}
            <li>
                <a href="{{ category_path(category, {include_query_params: true}) }}" aria-current="page">
                    {{ category.name }}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>